#page {
width: 900px;
background: #fff;
margin: 0 auto;
text-aling: center;
border-right: 1px solid #eBeBe8;
border-left: 1px solid #eBeBe8;
podding-bottom: 100px;
}
body {
  margin: 0;
}
img{
  height: auto;
  weight: 100%;
}
h1{
font-family helvetica, san-serif;
font size: 15px 
line hight: 18px;
position: absolute;
}
<div id="content">
<p> Welcome to my webpage. My name is Roberto, I'm Graphic designer. I am currently studying, at City College. I'm passionate about creating clean Designs that work for you.</p>
</div> 
